

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1db5e0;
  font-family: poppins,sans-serif;
}
.App {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
