
.weather-details p,
.weather-details h1 {
  background-color: white;
  text-align: center;
  padding: 0.2rem 0;
}

.details span,.details div,.icons{
  background-color: white;
}
.icons{
    color: #1db5e0;
    font-size: 25px;
}
.details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
    background-color: transparent;
    margin-top: 15px;
}
.left,.right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span{
    font-size: 22px;
}

.left{
    border-right: 1px solid lightgray;
}

.right{
    border-left: 1px solid lightgray;
}

.h2-text {
  background-color: transparent;
  padding: 1rem 0;
  color: #1db5e0;
}

hr {
  color: 1px solid lightgray;
}


.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: lightgray;
  text-align: center;
  height: 1.5em;
  background-color: transparent;
}
.hr-text:before {
  content: "";
  background: lightgray;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
/*  */
